
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(107, 103, 104);
}

.nav-style{
    background-color: lightseagreen !important;
}


#logo{
    font-size: 30px !important;
    margin: 0 auto !important;
    word-spacing: 10px !important;
    font-weight: bolder !important;
    font-size: 40px !important;

}

.moon{
    font-size: 30px;
    margin-left: 15px;
}

#clearSky{
    font-style: italic;
}

#search-btn{
    color: white;
    background-color: lightseagreen !important;
}

.search-btn:hover{
   
}

#search-font{
    color: white;
}


#current-weather{
    text-align: center;
    padding: 15px;
    background-color:lightseagreen; 
    border-radius: 15px;
    margin-left: 30px;
    
}

h2{
    font-size: 50px;
    text-transform: underline;
}

.row-style{
    margin-top: 20px;
}

.col{
    margin: 10px;
    border-radius: 30px;
    background-color: lightseagreen;
    text-align: center;
    padding: 15px;
    
    
}

.forecast-img{
    width: 80px;
    margin: 0 45px;
    
}

h3{
    color: white;
}

.cityHistory{
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background-color: lightseagreen;
    margin: 5px;
    border-radius: 5px;
    border: none;
    list-style: none;
    text-align: center;
    width: 40%;
}

#clearHistory{
    margin-left: 10px;
    color: white;
    background-color: lightseagreen !important;
}



