
html{
    height: 100%;
}

body{
    font-family: 'Cardo', serif;
    background-color:rgb(74, 85, 85);
    color: white;
}

.nav-style{
    background-color: rgba(21, 168, 156, 0.521) !important;
    color: blue;
}


#logo{
    font-size: 30px !important;
    margin: 0 auto !important;
    word-spacing: 10px !important;
    font-weight: bolder !important;
    font-size: 40px !important;
    color: white;
    font-family: 'Cardo', serif;
    

}

.globe{
    font-size: 32px;
    
}

.underline{
    text-decoration: underline;
}


#search-btn{
    color: white;
    background-color: rgba(21, 168, 156, 0.521)  !important;
    
}



#search-font{
    color: white;
}


#current-weather{
    text-align: center;
    padding: 15px;
    background-color:rgba(21, 168, 156, 0.521) ; 
    border-radius: 15px;
    margin-left: 50px;
    border: 3px solid grey;
    box-shadow: 0px 0px 5px grey;
    
}

h2{
    font-size: 50px;
}

.row-style{
    margin-top: 20px;
}

.col{
    margin: 10px;
    border-radius: 30px;
    background-color: rgba(21, 168, 156, 0.521) ;
    text-align: center;
    padding: 15px;
    border: 3px solid grey;
    box-shadow: 0px 0px 5px grey;

}

.forecast-img{
    width: 80px;
    margin: 0 45px;
}

#forecast-style{
    font-size: 25px;
    color: white;
}

h3{
    color: white;
}

.cityHistory{
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgba(21, 168, 156, 0.521) ;
    margin: 5px;
    border-radius: 5px;
    border: none;
    list-style: none;
    text-align: center;
    width: 40%;
}

#clearHistory{
    margin-left: 10px;
    color: white;
    background-color:rgba(21, 168, 156, 0.521)  !important;
}





